{% extends "layout.html" %}

{% block  contenido %}
<section id="contact">
        <div class="container">
            <div class="box">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Formulario de contacto</h3>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" name="contact-form" method="post" action="{{ path('sendmail') }}" role="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="name" id="name" class="form-control" required="required" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="email" name="email" required="required" placeholder="Email address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" name="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group right">
                                        <button type="submit" class="btn btn-danger btn-sm">Enviar correo</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!--/.col-sm-6-->
                    <div class="col-sm-6">
                        <h3>Contáctenos en:</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="social">
                                    <li><a href="#"><i class="icon-facebook icon-social"></i> Facebook</a></li>
                                    <li><a href="#"><i class="icon-google-plus icon-social"></i> Gmail</a></li>
                                    <!--<li><a href="#"><i class="icon-pinterest icon-social"></i> Pinterest</a></li>-->
                                </ul>
                            </div>
                            <!--<div class="col-md-6">
                                <ul class="social">
                                    <li><a href="#"><i class="icon-linkedin icon-social"></i> Linkedin</a></li>
                                    <li><a href="#"><i class="icon-twitter icon-social"></i> Twitter</a></li>
                                    <li><a href="#"><i class="icon-youtube icon-social"></i> Youtube</a></li>
                                </ul>
                            </div>-->
                        </div>
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#contact-->
    <script type="text/javascript">
    $(document).ready(function(){

        /*$.ajax({
          type: "GET",
          url: "{#{path('enviarmail')}#}",
          data: "",
          success:function(data){
            alert("ebviado");
            }
        });*/
    })
    </script>
{% endblock %}